<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hymperia.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hymperia.Model.Properties.Settings>
            <setting name="MainDatabase" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;Server=420.cstj.qc.ca; SslMode=Preferred; Database=hymperia_master; Username=Hymperia; Password=infoH25978;&lt;/ConnectionString&gt;
  &lt;ProviderName /&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
            <setting name="LocalizationDatabase" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;Server=420.cstj.qc.ca; SslMode=Preferred; Database=hymperia_master_localization; Username=Hymperia; Password=infoH25978;&lt;/ConnectionString&gt;
  &lt;ProviderName /&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>fr-CA</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
        </Hymperia.Model.Properties.Settings>
    </userSettings>
               </configuration>