<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hymperia.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hymperia.Model.Properties.Settings>
            <setting name="MainDatabase" serializeAs="String">
                <value>Server=420.cstj.qc.ca; SslMode=Preferred; Database=hymperia_test_deploy; Username=Hymperia; Password=infoH25978;</value>
            </setting>
            <setting name="LocalizationDatabase" serializeAs="String">
                <value>Server=420.cstj.qc.ca; SslMode=Preferred; Database=hymperia_localization_test_deploy; Username=Hymperia; Password=infoH25978;</value>
            </setting>
        </Hymperia.Model.Properties.Settings>
    </userSettings>
</configuration>